force-app/main/default/flows/Quick_Charge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Record_Type_Variable</name>
        <label>Set Account Record Type Variable</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Account_Credit_Card_RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Record_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expense_Record_Types</name>
        <label>Set Expense Record Types</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Expense_RecordTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Record_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Record_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>sObject_Type</name>
        <label>sObject Type</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Expense_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expense</defaultConnectorLabel>
        <rules>
            <name>Account_Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Record_Types.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Record_Type_Variable</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <description>Create an expense representing a charge to a credit card.</description>
    <dynamicChoiceSets>
        <name>ExpenseCategoryOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QueriedCardChoices</name>
        <collectionReference>Get_Credit_Card_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QueriedExpenseRecordTypes</name>
        <collectionReference>Expense_RecordTypes</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TODAY_FORMULA</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quick Charge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Charge</label>
    <loops>
        <name>Loop_Thru_Record_Types</name>
        <label>Loop Thru Record Types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sObject_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Credit_Card_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Credit_Card_Accounts</name>
        <label>Get Credit Card Accounts</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_Select_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Credit_Card_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Record_Types</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expense__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Card_Select_Screen</name>
        <label>Card Select Screen</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Card_Select_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Card_Select_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_a_Card</name>
                    <choiceReferences>QueriedCardChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a Card</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Card_Select_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expense_Type</name>
                    <choiceReferences>QueriedExpenseRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Expense Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Card_Select_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TODAY_FORMULA</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_Credit_Card_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Expense_RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ThisExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
</Flow>
