force-app/main/default/flows/Update_Account_From_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_to_Update_Collection</name>
        <label>Add Account to Update Collection</label>
        <locationX>528</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecordsToUpdateLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountRecordsToUpdateLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_to_Update_Collection_Rectify</name>
        <label>Add Account to Update Collection</label>
        <locationX>792</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecordsToRectifyLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountRecordsToRectifyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Account_Records_To_Update</name>
        <label>Clear Account Records To Update</label>
        <locationX>440</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToUpdate</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>AccountRecordsToUpdateLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Source_Account</name>
        <label>Update Source Account</label>
        <locationX>264</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToUpdateLoop.Total_Transfers_Out__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Source_Account_Rectify</name>
        <label>Update Source Account</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToRectifyLoop.Total_Transfers_Out__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Update_Collection_Rectify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Target_Account</name>
        <label>Update Target Account</label>
        <locationX>528</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToUpdateLoop.Total_Transfers_In__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Target_Account_Rectify</name>
        <label>Update Target Account</label>
        <locationX>792</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordsToRectifyLoop.Total_Transfers_In__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Update_Collection_Rectify</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Direction</name>
        <label>Determine Direction</label>
        <locationX>528</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Add_Account_to_Update_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Source_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordsToUpdateLoop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Source_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Source_Account</targetReference>
            </connector>
            <label>Source Account</label>
        </rules>
        <rules>
            <name>Target_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordsToUpdateLoop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Account</targetReference>
            </connector>
            <label>Target Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Direction_Rectify</name>
        <label>Determine Direction</label>
        <locationX>792</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Add_Account_to_Update_Collection_Rectify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Account_Rectify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordsToRectifyLoop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Source_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Source_Account_Rectify</targetReference>
            </connector>
            <label>Source Account</label>
        </rules>
        <rules>
            <name>Target_Account_Rectify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordsToRectifyLoop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Target_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Account_Rectify</targetReference>
            </connector>
            <label>Target Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the transfer record is newly created or updated.</description>
        <name>New_or_Updated_Transfer</name>
        <label>New or Updated Transfer</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>New_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordsToUpdateLoop</targetReference>
            </connector>
            <label>New Transfer</label>
        </rules>
        <rules>
            <name>Updated_Record</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Target_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Records_From_Previous_Transfer</targetReference>
            </connector>
            <label>Updated Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Account From Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account From Transfer</label>
    <loops>
        <description>First, fix the impacted accounts that were updated previously with the incorrect transfer information.</description>
        <name>AccountRecordsToRectifyLoop</name>
        <label>AccountRecordsToRectifyLoop</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Account_Records_From_Previous_Transfer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Direction_Rectify</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Source_Target_Accounts_Rectify</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AccountRecordsToUpdateLoop</name>
        <label>AccountRecordsToUpdateLoop</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <collectionReference>Get_Account_Records_From_Transfer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Direction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Source_Target_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records_From_Previous_Transfer</name>
        <label>Get Account Records From Previous Transfer</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRecordsToRectifyLoop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Source_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Target_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Transfers_In__c</queriedFields>
        <queriedFields>Total_Transfers_Out__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Records_From_Transfer</name>
        <label>Get Account Records From Transfer</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Updated_Transfer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Target_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Transfers_In__c</queriedFields>
        <queriedFields>Total_Transfers_Out__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Source_Target_Accounts</name>
        <label>Update Source &amp; Target Accounts</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <inputReference>AccountRecordsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Source_Target_Accounts_Rectify</name>
        <label>Update Source &amp; Target Accounts</label>
        <locationX>440</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Clear_Account_Records_To_Update</targetReference>
        </connector>
        <inputReference>AccountRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Records_From_Transfer</targetReference>
        </connector>
        <object>Transfer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the account records that will be updated by the transfer record (source &amp; target).</description>
        <name>AccountRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
